{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "all",
    "bracketSpacing": true,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.mdx", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
